@import "tailwindcss";

@theme {
  --color-brand-red: #DA291C;
  --color-brand-charcoal: #54585A;
  --color-brand-olive: #8A8D8F;
  --color-brand-silver: #C7C9C7;
  
  --font-sans: var(--font-montserrat);
  --font-heading: var(--font-montserrat);
}

body {
  @apply bg-white text-brand-charcoal font-sans;
}
